<div class="wrapper">
	<div class="">
		<div class="content">
			<div class="container-fluid">
				
				<div class="col-md-12">
					<div class="card">
						<div class="col-md-12 text-center">
							<h5 class="title">OTP Verification</h5>
							<p class="category">
								Verify OTP 
							</p>
						</div>
						<div class="card-content">
							<form name="loginForm" novalidate>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group label-floating">
											<label class="control-label">Enter OTP </label> <input
												type="text" class="form-control" data-ng-model="user.otp"
												name="otp" maxlength="6" required> <span
												data-ng-if="loginForm.userOrEmail.$invalid && (loginForm.userOrEmail.$touched || loginForm.$submitted)"
												class="error-msg-style">Enter Valid Email</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<a href="javascript:void(0)" data-ng-click="resendOTP()" data-ng-disabled="isDisable">
											<b>Not Received Yet ? Click Here to Resend</b>
										</a>
									</div>
									<div class="col-md-12">
										<button type="submit" class="btn btn-primary btn-block"
											data-ng-click="verifyOTP()" data-ng-disabled="isDisable">Verify OTP</button>
									</div>
									<div class="col-md-12">
										<a href="javascript:void(0)" class="pull-right" data-ui-sref="login">
									<b>Login</b>
								</a>
									</div>
								</div>
								<div class="clearfix"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
