
<div class="logo">
	<h2 class="text-center">LAMS</h2>
</div>
<div class="sidebar-wrapper" data-ng-if="user.userType == Constant.UserType.BORROWER.id">
	<ul class="nav">
		<li data-ui-sref-active="active"><a href="javascript:void(0)" data-ui-sref="web.lams.brDashboard"> <i class="material-icons">dashboard</i>
				<p>Dashboard</p>
		</a></li>
		<li data-ui-sref-active="active"><a href="javascript:void(0)" data-ui-sref="web.lams.applicationList"> <i class="material-icons">Applications</i>
				<p>Applications</p>
		</a></li>
		<!-- <li><a href="javascript:void(0)"> <i
				class="material-icons">person</i>
				<p>User Profile</p>
		</a></li> -->
		<!-- <li><a href="javascript:void(0)"> <i class="material-icons">content_paste</i>
				<p>Table List</p>
		</a></li>
		<li><a href="javascript:void(0)"> <i class="material-icons">library_books</i>
				<p>Typography</p>
		</a></li>
		<li><a href="javascript:void(0)"> <i class="material-icons">bubble_chart</i>
				<p>Icons</p>
		</a></li>
		<li><a href="javascript:void(0)"> <i class="material-icons">location_on</i>
				<p>Maps</p>
		</a></li>
		<li><a href="javascript:void(0)"> <i
				class="material-icons text-gray">notifications</i>
				<p>Notifications</p>
		</a></li>
		<li class="active-pro"><a href="upgrade.html"> <i
				class="material-icons">unarchive</i>
				<p>Upgrade to PRO</p>
		</a></li> -->
	</ul>
</div>

<div class="sidebar-wrapper" data-ng-if="user.userType == Constant.UserType.LENDER.id">
	<ul class="nav">
		<li data-ui-sref-active="active"><a href="javascript:void(0)" data-ui-sref="web.lams.products"> <i class="material-icons">dashboard</i>
				<p>Dashboard</p>
		</a></li>
<!-- 		<li data-ui-sref-active="active"><a href="javascript:void(0)" data-ui-sref="web.lams.products"> <i class="material-icons">Products</i> -->
<!-- 				<p>Products</p> -->
<!-- 		</a></li> -->
	</ul>
</div>
