
<div class="col-md-12 col-sm-12 col-lg-12">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header" data-background-color="purple">
						<h4 class="title">
							<b>Applications </b></a>
						</h4>
						<p class="category">
							<b>List of all applications</b>
						</p>
					</div>
					<div class="card-content">
						<div class="list-group" ng-repeat="application in applicationList">
							<a href="#"
								class="list-group-item list-group-item-action flex-column align-items-start">
								<h4 class="list-group-item-heading">
									<b>{{application.applicationTypeName}}</b>
								</h4> <small class="pull-right">{{application.createdDate}}</small>
								<p class="list-group-item-text">{{application.loanTypeName}}</p>
							</a>
						</div>
						<div class="list-group" ng-if="applicationList.length < 1">
							No Application Found
						</div>
						<div class="row" ng-show="!showApplicationForm">
							<div class="col-md-8"></div>
							<div class="col-md-4 ">
								<button type="button" class="btn btn-primary pull-right"
									ng-click="showApplicationForm =! showApplicationForm">Add
									New Loan</button>
							</div>
						</div>
						<div class="panel panel-default" ng-show="showApplicationForm">

							<div class="panel-body">
								<form name="applicationForm" novalidate>
									<div class="row">
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">Application Type</label> <select
													class="form-control" data-ng-model="appObj.applicationTypeId"
													name="salutation"
													data-ng-options="applicationTyp.id as applicationTyp.name for applicationTyp in applicationTypeList">
													<option value="">Select Application Type</option>
												</select>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">Loan Type</label> <select
													class="form-control" data-ng-model="appObj.loanTypeId"
													name="salutation"
													data-ng-options="loanType.id as loanType.name for loanType in loanTypeList">
													<option value="">Select Loan Type</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-8"></div>
										<div class="col-md-4 ">
											<button type="button" class="btn btn-primary pull-right"
												ng-click="saveApplication()">Submit</button>
										</div>
									</div>
								</form>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
